# Virtual Environments
venv/
.venv/
env/
.env

# Python Compiled Files
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Django Specific (Optional but recommended)
db.sqlite3
/media/
/staticfiles/
.DS_Store